* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
header{
	height: 50px;
	background-color: #FF9A4B;
}
main{
	width: 960px;
	margin: 50px auto;
}
.contents{
	width: 300px;
	background-color: #EEEEEE;
	float: left;
	margin-right: 30px;
	position: relative;

}
.contents:last-child {
  margin-right: 0;
}
h6{
	background-color: #FF9A4B;
	color: #ffffff;
	padding: 3px;
	position: absolute;
}
h3{
	margin: 15px 0 5px;
}
.image1{
	background-image: url(img/flow01.png);
	height: 150px;
	background-position: bottom;
	background-size: cover;
	margin: 10px;
}
.image2{
	background-image: url(img/flow02.png);
	height: 150px;
	background-position: bottom;
	background-size: cover;
	margin: 10px;
}
.image3{
	background-image: url(img/flow03.png);
	height: 150px;
	background-position: bottom;
	background-size: cover;
	margin: 10px;
}
footer{
	height: 50px;
	background-color: #AAAAAA;
}